div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

form {
  margin: 2rem auto;
  display: flex;
  height: 2.5rem;
}

form > button {
  background-color: rgb(152, 215, 255);
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-left: 0;
}

form > button:hover {
  background-color: rgb(115, 196, 246);
}

form > input {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-right: 0;
}
